.desktop__version {
  display: none;
  margin-bottom: 50px;
  margin-top: 220px;

  @media (min-width: $breakpoint) {
    display: block;
  }

  .body__upper,
  .body__lower {
    display: flex;
    flex: 1;
  }

    
  .tags {
    font-size: 26px;
    margin-bottom: 40px;
    margin-left: 50%;
    margin-top: 40px;
  }

  .body__upper {
    margin-top: 16px;

    &__right {
      display: flex;
      flex-direction: column;

      &--text {
        margin-right: 40px;

        p {
          font-family: 'Barlow';
        }
      }

      &--pics {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &__left {
      display: flex;
      flex-direction: column;

      &--text {
        display: inline-block;
        margin-left: 6%;
        margin-top: 40px;
        vertical-align: top;
        width: 66%;
      }

      a,
      b,
      p {
        font-family: 'Barlow';
      }

      .inline {
        color: $black;
        cursor: pointer;
        font-family: 'Barlow';
      }

      .download {
        background-color: $yellow;
        color: $black;
        cursor: pointer;
        display: inline-block;
        margin-top: 20px;
        padding: 5px 10px;
        text-decoration: none;

        b {
          cursor: pointer;
        }
      }
    }

    .picture {
      &__einraumhaus {
        align-items: flex-end;
        display: flex;
        text-align: right;
      }
    }
        
    .image {
      &__gesamtansicht {
        display: block;
        margin-left: 10%;
        width: 60%;
      }

      &__yufkas {
        margin-top: 20%;
        width: 20%;
      }

      &__foodtruck {
        margin-bottom: 100px;
        margin-left: 100px;
        width: 35%;
      }

      &__dachwohnung {
        margin-left: 25%;
        margin-top: 5%;
        width: 30%;
      }

      &__einraumhaus {
        margin-top: 10%;
        width: 40%;
      }
    }
  }

  .body__lower {
    &__left,
    &__right {
      width: 50%;
    }

    &__left {
      display: flex;
      flex-direction: column;

      .picture__alter_leer {
        text-align: right;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;

      .picture__schalen,
      .picture__alter {
        text-align: right;
      }
    }

    .image {
      &__alter_leer {
        margin-bottom: 70px;
        margin-top: 90px;
        width: 45%;
      }

      &__einraumhaus_tor {
        margin-left: 15%;
        width: 50%;
      }

      &__schalen {
        margin-bottom: 100px;
        margin-right: 15%;
        width: 20%;
      }

      &__collage {
        margin-bottom: 70px;
        margin-left: 5%;
        width: 25%;
      }

      &__alter {
        width: 55%;
      }
    }
  }
}
