$breakpoint: 768px;
$yellow: #FFFF00;
$black: #000000;
$white: #FFFFFF;
$mobileTopMargin: 200px;

$mobileTitleSize: 80px;


* {
    margin: 0;
    font-family: 'Lyyra Extended';
    cursor:  url('../assets/images/Cursor.png'), auto;
}

body {
    position: absolute;

    
    @media (min-width: $breakpoint) { 
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.yellow {
    color: $yellow
}