$breakpoint: 768px;
$yellow: #ff0;
$black: #000;
$white: #fff;
$mobile-top-margin: 200px;

$mobile-title-size: 80px;


* {
  cursor: url('../assets/images/Cursor.png'), auto;
  font-family: 'Lyyra Extended';
  margin: 0;
}

body {
  position: absolute;

    
  @media (min-width: $breakpoint) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
}

.yellow {
  color: $yellow;
}
