.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: $mobile-top-margin;
  position: fixed;
  width: 100%;
  z-index: 1;

  &__box {
    display: flex;
    justify-content: center;
    
    @media (min-width: $breakpoint) { 
      justify-content: space-between;
      width: 100%;
    }
    
    &__tags {
      display: none;
    
      @media (min-width: $breakpoint) { 
        display: block;
        margin-left: 30px;
        margin-top: 10px;
        width: 390px;
      }
    }
    
    &__info {
      align-items: center;
      background-color: $yellow;
      display: flex;
      flex-direction: column;
      height: 47px;
      justify-content: space-between;
      padding: 6px 0;
      width: 90px;
    }
    
    &__address {
      display: none;
    
      @media (min-width: $breakpoint) { 
        display: block;
        margin-right: 30px;
        margin-top: 10px;
        text-align: right;
        width: 390px;
        word-break: break-all;
      }
    }
  }

  &__title {
    font-size: $mobile-title-size;
    font-weight: bold;
    margin-top: 35px;
    text-align: center;
    width: 250px;

    @media (min-width: $breakpoint) { 
      margin-top: 45px;
      width: 400px;
    }
  }
}
