.popup {
  background-color: $black;
  border: 0;
  color: $white;
  padding: 0;
  position: fixed;
  top: 59px;
  transition: top 0.2s ease-out;
  visibility: hidden;

  @media (min-width: $breakpoint) {
    max-width: 1000px;
  }

  &__scroll_body {
    overflow: auto;
    padding: 0 30px;

    &::-webkit-scrollbar-track {
      background-color: $black;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    &::-webkit-scrollbar {
      background-color: $black;
      width: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: $white;
      border: 1px solid $black;
    }
  }


    
  p {
    font-family: 'Barlow';
  }

  &__header {
    margin-bottom: 30px;
    text-align: center;

    p {
      font-family: 'Lyyra Extended';
    }

    &__title {
      margin-top: 25px;
      width: 250px;

      @media (min-width: $breakpoint) {
        margin-top: 45px;
        overflow: hidden;
        width: 350px;
      }
    }

    &__subtitle {    
      font-size: 20px;
    }
  }

  &__subheader {
    margin-bottom: 40px;
    text-align: center;

    @media (min-width: $breakpoint) {
      padding: 0 100px;
    }

    &__info {
      margin-bottom: 10px;
    }

    &__address {
      color: $yellow;

      @media (min-width: $breakpoint) {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $breakpoint) {
      margin: 0 50px;
    }

    &__section {
            
      @media (min-width: $breakpoint) {
        box-sizing: border-box;
        width: 50%;

        &:first-child {
          margin-right: 20px;
          width: calc(50% - 20px);
        }
    
        &--full {
          width: 100%;
        }

        &--multiple {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      &__title {    
        border-bottom: 1px solid $white;
        margin-bottom: 5px;
        padding-bottom: 5px;
      }

      &__subtitle {
        font-weight: bold;
      }

      &__text {

      }
    }
  }

  &__footer {
    margin-bottom: 70px;
    text-align: center;

    @media (min-width: $breakpoint) {
      margin-bottom: 20px;
    }
  }
}
